.f-container{
    /* width: 1280px; */
    width: 100%;
    padding: 5px;
    /* border-radius: 20px; */
    margin: 0 auto;
    height: 180px;
    background-color: #1d1d3e;
    
}
.f-list{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-line{
    color: #1db8de;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.icon{
    margin-right: 10px;
    cursor: pointer;
    
}
.icon img{
    width: 30px;
    transition: all .2s ease-in-out;
}
.icon img:hover{
    transform: scale(1.16);
}

.f-content{
    display: flex;
    justify-content: center;
}
.f-content p{
    color: white;
}