.container{
    background: linear-gradient(224.32deg, rgba(29, 29, 62, 0.85) -0.32%, rgba(29, 184, 222, 0.49) 103.5%);
    height: 100%;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
.top{
    margin-left: 250px;
   }
   .keep{
       color: #1db8de;
       font-weight: bolder;
   }
   .title{
       margin-top: -5px;
       color: white;
       font-weight: bolder;
       position: relative;
    
   }
   .title::before{
       content:'';
       width: 44px;
       border-bottom: 5px solid #1db8de;
       position: absolute;
       height: 2px;
       margin-bottom: -10px;
       color: #1db8de;
       z-index: 1;
       bottom: 0;
   }
.prod-container{
    width: 1290px;
    height: 810px;
    background: url(../../public/images/products/prod.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px auto;
    border-radius: 20px;
    overflow: hidden;
 
}
.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 15px;
}
.product{
    height: 300px;
    /* ../../public/images/project/frosted.jpg */
    background: linear-gradient(137.96deg, rgba(29, 29, 62, 0.5) -3.54%, rgba(255, 255, 255, 0.5) 103.84%, rgba(255, 255, 255, 0.5) 103.85%, rgba(29, 29, 62, 0.5) 103.85%);
    border-radius: 20px;
    margin-top: 30px;
    display:flex;
    justify-content: center;
    align-items :center;
    transition: .3s ease-in-out;
}
.product:hover{
   transform: scale(1.03);
}
ul .icon{
    
    color:  #1d1d3e;
    font-size: 38px;
    text-align: center;
    font-weight: bolder;
}
ul .icon:hover{
    color: #1db8de;
}
 li .name , li .content{
    color: white;
    font-weight: bold;
}
li .name:hover ,li .content:hover{
    color: #1d1d3e;
}
li .name{ 
    font-size: 20px;
    text-align: center;
}
